name: Run CI

on:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ${{ github.env.RUNS_ON }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3

      - name: Download Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ github.env.DART_SDK }}

      - name: Dart Version
        run: dart --version

      - name: Run tests
        run: dart run test
