name: Run CI

on:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: self-hosted
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ vars.DART_VERSION }}
      - run: dart --version
      - run: dart run test
