name: Run CI

on:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on:  ${{ vars.RUNS_ON }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: ${{ runner.tool_cache }}/dart/x64
          key: dart-sdk-${{ runner.os }}-${{ vars.DART_VERSION }}
          
      - name: Download Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: "${{ vars.DART_VERSION }}"

      - name: Dart Version
        run: dart --version

      - name: Run tests
        run: dart run test
