name: Packages

on:
  workflow_dispatch:
    inputs:
      runs_on:
        required: true
        type: choice
        description: Runs on
        options:
          - self-hosted
          - ubuntu-latest

permissions:
  packages: write

jobs:
  publish:
    runs-on: ${{ inputs.runs_on }}
    steps:
      - run: echo "echo hello world" > script.sh

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - id: docker_build
        name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          tags: ghcr.io/vadimmalykhin/svg-converter.dart:latest
          push: true

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
