name: Publish to ghcr.io

on:
  workflow_dispatch:
    inputs:
      runs_on:
        required: true
        type: choice
        description: Runs on
        options:
          - self-hosted
          - ubuntu-latest

env:
  RUNS_ON: ubuntu-latest
  REGISTRY: ghcr.io
  IMAGE_REPOSITORY_NAME: vadimmalykhin/svg-converter
  TAG_NAME: latest

jobs:
  build:
    runs-on: ${{ inputs.runs_on }}
    steps:
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: beta

      - name: Checkout
        uses: actions/checkout@v3

      - name: Compile
        run: dart compile exe bin/svg_converter.dart -o ./svg-converter --verbosity all

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-artifact
          path: |
            ./svg-converter
            ./Dockerfile
            ./entrypoint

  test:
    needs: build
    runs-on: ${{ inputs.runs_on }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: build-artifact

      - name: Display structure of downloaded files
        run: ls -R

      - name: Run artifact
        run: ./svg-converter

  publish:
    needs: [build, test]
    runs-on: ${{ inputs.runs_on }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: build-artifact

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug
          platforms: linux/amd64

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHPR_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          file: Dockerfile
          context: .
          push: true
          # build-args: IMAGE_NAME=${{ env.IMAGE_NAME }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_REPOSITORY_NAME }}:${{ env.TAG_NAME }}
          secrets: |
            github_actor=${{ github.actor }}
            github_token=${{ secrets.GHPR_TOKEN }}
