name: Publish to ghcr.io

on:
  workflow_dispatch:
    inputs:
      runs_on:
        required: true
        type: choice
        description: Runs on
        options:
          - ubuntu-latest
          - self-hosted

env:
  RUNS_ON: ubuntu-latest
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ${{ inputs.runs_on }}
    steps:
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: beta

      - name: Checkout
        uses: actions/checkout@v3

      - name: Compile
        run: dart compile exe bin/svg_converter.dart -o ./svg_converter

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-artifact
          path: |
            ./svg_converter

  test:
    needs: build
    runs-on: ${{ inputs.runs_on }}
    steps:
      - name: Test
        run: echo 1

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: build-artifact

      - name: Display structure of downloaded files
        run: ls -R

      - name: Run artifact
        run: ./svg_converter
