name: Use Container

on:
  workflow_dispatch:
    inputs:
      runs_on:
        required: true
        type: choice
        description: Runs on
        options:
          - self-hosted
          - ubuntu-latest

env:
  RUNS_ON: ubuntu-latest
  TAG_NAME: latest

jobs:
  run:
    runs-on: ${{ inputs.runs_on }}
    container:
      image: ghcr.io/vadimmalykhin/svg-converter:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ github.token }}

    steps:
      - name: Run SVG Converter
        run: /usr/bin/svg-converter
